<div class="start-1">
    <!-- style="margin-top: 10px; margin-left: 10px" -->
    <div class="d-flex flex-column flex-shrink-0 bg-light ml-auto">
      <a href="/" class="text-center link-dark text-decoration-none">
        <!-- <svg class="bi" width="40" height="32">
          <use xlink:href="#bootstrap"></use>
        </svg> -->
        <span class="text-center fs-8">Right Sidebar</span>
      </a>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a href="#" class="nav-link active" aria-current="page">
            <!-- <svg class="bi" width="16" height="16">
              <use xlink:href="#home"></use>
            </svg> -->
            Home
          </a>
        </li>
        <li>
          <a href="#" class="nav-link link-dark">
            <!-- <svg class="bi" width="16" height="16">
              <use xlink:href="#speedometer2"></use>
            </svg> -->
            Dashboard
          </a>
        </li>
        <li>
          <a href="#" class="nav-link link-dark">
            <!-- <svg class="bi" width="16" height="16">
              <use xlink:href="#table"></use>
            </svg> -->
            Orders
          </a>
        </li>
        <li>
          <a href="#" class="nav-link link-dark">
            <!-- <svg class="bi" width="16" height="16">
              <use xlink:href="#grid"></use>
            </svg> -->
            Products
          </a>
        </li>
        <li>
          <a href="#" class="nav-link link-dark">
            <!-- <svg class="bi" width="16" height="16">
              <use xlink:href="#people-circle"></use>
            </svg> -->
            Customers
          </a>
        </li>
      </ul>
    </div>
  </div>
