<div class="start-1">
    <div class="d-flex flex-column flex-shrink-0 bg-light ml-auto">
        <a href="/" class="text-center link-dark text-decoration-none">
        <span class="text-center fs-8">Right Sidebar</span>
        </a>
        <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page">
            Home
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark">
            Dashboard
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark">
            Orders
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark">
            Products
            </a>
        </li>
        <li>
            <a href="#" class="nav-link link-dark">
            Customers
            </a>
        </li>
        </ul>
    </div>
</div>
