<div class="start-1 mb-4">
    <div class="d-flex flex-column flex-shrink-0 bg-light rounded rounded-md">
        <ul class="nav nav-pills  flex-column">
        <li class="nav-item">
            <a href="/home" class="nav-link active" aria-current="page"> Home </a>
        </li>
        <li>
            <a href="/about" class="nav-link link-dark"> About </a>
        </li>
        <li>
            <a href="/search" class="nav-link link-dark"> Search </a>
        </li>
        <li>
            <a href="/shows" class="nav-link link-dark"> Shows </a>
        </li>
        </ul>
    </div>
</div>
