    <%- include('./partials/header.ejs', {title: 'About Page'}) %>
    <%- include('./partials/navbar.ejs', {username: locals.username}) %>

    <div class="center-element my-5" id="titleAbout">
        <h1 id="welcome01">All About</h1> 
        <h1 id="welcome02">Showrunner</h1>
    </div>

    <div class="container-fluid">
        <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            
            <div class="card d-flex justify-content-center align-items-center mb-4">
            <div class="container">
                <h2 class="text-center">Our Vision</h2>
                <p class="title"></p>
                <p><i>"As the world becomes increasingly digitized, the way we consume media has shifted dramatically. Streaming services like Netflix, Hulu, and Amazon Prime have completely revolutionized the entertainment industry, making it easier than ever for people to access their favorite TV shows and movies from the comfort of their own homes. However, with the sheer amount of content available on these platforms, it can be difficult to keep track of when new seasons of a particular show are released.

                <p>Realizing this challenge, a group of individuals from ACC's fullstack developer bootcamp decided to take matters into their own hands and create an app to help solve this problem. They recognized that there was a real need for a centralized platform where people could easily track new TV season release dates and get alerts when their favorite shows were airing a new season.</p>
                
                <p>The app, which started as a class project, quickly gained momentum as the group put their coding skills to the test and built a robust platform that incorporated a variety of features designed to make it easy for users to find the information they were looking for. This included a comprehensive database of TV shows, complete with release dates and episode summaries, as well as a user-friendly interface that allowed people to search for their favorite shows and receive personalized alerts when new seasons were released.</p>
                
                <p>Thanks to the hard work and dedication of this group of developers, people now have a reliable and convenient way to keep track of when their favorite shows are returning for new seasons. The app has quickly gained popularity, and is poised to become a go-to resource for TV fans everywhere. With the rise of streaming services, it's clear that there will always be a need for innovative solutions like this that make it easier for people to navigate the ever-expanding landscape of digital media."</i></p>
            </div>
            </div>

            <div class="card d-flex justify-content-center align-items-center mb-4">
            <div class="container">
                <h2 class="text-center">⭐ The Dream Team ⭐</h2>
                <p><i> Meet the talented team of digital dreamers who are weaving their magic to bring our project to life. With their exceptional coding skills, creative flair, and technical know-how, they're creating a masterpiece that's set to revolutionize the digital world. Each member of the team brings their own unique set of skills and expertise to the table, from front-end developers who are crafting visually stunning user interfaces, to back-end developers who are building robust server-side logic and database architecture. Together, they're a force to be reckoned with, constantly pushing the boundaries of what's possible and creating a truly unforgettable digital experience. So if you're looking for a team that can turn your digital dreams into reality look no further than toward, "The Showrunners!"</i></p>
                <p>
                <li><strong><i>Aeridy (Project Manager/Back-End Developer):</i></strong> responsible for overall project planning, organization, and coordination and responsible for developing the server-side logic and integrating with the database.</li>
                </p>
                <p>
                <li><strong><i>Joel (Front-End Developer/UX/UI Designer):</i></strong> responsible for creating wireframes, mockups, and prototypes that optimize the user experience and interface design.</li>
                </p> 
                <p>
                <li><strong><i>Kevin (Front-End Developer/UX/UI Designer):</i></strong> responsible for developing the user interface and ensuring a positive user experience. </li>
                </p>
                <p>
                <li><strong><i>Peter (Back-End Developer/Database Administrator/API Developer):</i></strong> responsible for developing the server-side logic and integrating with the database and responsible for designing, developing, and managing the database for the project. Also responsible for integrating with the TMDB api.</li>
                </p>
            </div>
            </div>

            <div class="card d-flex justify-content-center align-items-center mb-4">
            <div class="container">
                <h2 class="text-center">Creative Toolbox</h2>
                <ul>
                <li><i><strong>HTML with Express:</strong></i> HTML is a markup language used for creating the structure and content of web pages, while Express is a web application framework used for building server-side web applications with Node.js This allows developers to create dynamic web pages that can interact with servers and databases, enabling the creation of complex and interactive web applications. </li>
                <li><i><strong>Bootstrap:</strong></i> Bootstrap is a popular front-end framework used for web development that provides a collection of pre-built HTML, CSS, and JavaScript components and tools. </li>
                <li><i><strong>CSS:</strong></i> CSS (Cascading Style Sheets) is a style sheet language used to describe the presentation and layout of web pages written in HTML or XHTML. CSS provides a way to separate the content of a web page from its presentation, allowing developers to define the look and feel of a website in a separate file.</li>
                <li><i><strong>MongoDB:</strong></i> MongoDB is a cross-platform, open-source NoSQL database program used for storing and managing large amounts of data in a flexible and scalable way. Instead of using traditional tables and rows, MongoDB stores data in a document-oriented format, allowing for more complex and dynamic data structures. We use MongoDB to store the user profile, their list of shows, and the full details of each show.
                <li><i><strong>JavaScript:</strong></i> JavaScript is a high-level, dynamic, and interpreted programming language that is used to create interactive and dynamic web pages. It is a popular language among developers because it allows for the creation of complex web applications and is supported by all modern web browsers. JavaScript is a versatile and powerful language that plays a vital role in modern web development. We use Javascript to validate forms, interact with the database, and retrieve data from the TMDB api.
                </li>
                </ul>
            </div>
            </div>
        </div>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>