<body> <!-- Added open body tag to each View for custom body styling -->

<%- include('./partials/header.ejs', {title: 'Change Password'}) %>
<%- include('./partials/navbar.ejs', {username: user.username}) %>

<div class="container-fluid">
    <div class="row d-flex justify-content-center p-5">

        <div class="col d-flex text-center p-5 bg-black flex-column rounded-4 change-password-container">
            <h2 class="mb-4">Change Password</h2>
            <form action="/change-password" method="post" id="change-password-form" class="change-password">
                <div class="mb-3">
                    <label class="form-label" for="old-password">Old Password</label>
                    <input class="form-control" type="password" id="old-password" name="oldPassword" placeholder="" >
                </div>
                <div class="mb-3">
                    <label class="form-label" for="new-password">New Password</label>
                    <input class="form-control" type="password" id="new-password" name="newPassword" placeholder="" >
                </div>
                <div class="mb-3">
                    <label class="form-label" for="confirm-password">Confirm Password</label>
                    <input class="form-control" type="password" id="confirm-password" name="confirmPassword" placeholder="" >
                </div>
                <p id="change-password-error-message" class="m-2 text-danger">
                    <% if (failedAttempt) { %>
                        <%- "Please try again" %>
                    <% } %>
                </p>
                <button type="submit" class="btn btn-primary m-2">Submit</button>
            </form>
        </div>

    </div>

    <script src="change_password.js"></script>

<%- include('./partials/footer.ejs') %>
