<body> <!-- Added open body tag to each View for custom body styling -->
    <%- include('./partials/header.ejs', {title: 'Change Password'}) %>
    <%- include('./partials/navbar.ejs', {username: user.username}) %>

    <div class="container m-5 px-5">
        <div class="row justify-content-center text-center p-5 bg-secondary change">
        <h2>Change Password</h2>
        <form action="/change-password" method="post" id="change-password-form" class="change-password">
            <input type="password" id="old-password" name="oldPassword" placeholder="Old Password" class="p-2 m-2">
            <input type="password" id="new-password" name="newPassword" placeholder="New Password" class="p-2 m-2">
            <input type="password" id="confirm-password" name="confirmPassword" placeholder="Confirm New Password" class="p-2 m-2">
            <p id="change-password-error-message" class="m-2 text-danger">
            <% if (failedAttempt) { %>
                <%- "Please try again" %>
            <% } %>
            </p>
            <button type="submit" class="m-2">Submit</button>
        </form>
        </div>
    </div>

    <script src="change_password.js"></script>

    <%- include('./partials/footer.ejs') %>