<%- include('./partials/header.ejs', {title: 'Error'}) %>
<%- include('./partials/navbar.ejs', {username: locals.username}) %>

<div class="error-message">
    Something went wrong. That's all we know.
</div>

<%- include('./partials/footer.ejs') %>