<%- include('./partials/header.ejs', {title: 'PAGE TITLE HERE'}) %>
<%- include('./partials/navbar.ejs') %>



<% if (showId) { %>
<h1>Show <%= showId %></h1>
<% } %>



<%- include('./partials/footer.ejs') %>