<%- include('./partials/header.ejs', {title: 'Showrunner'}) %>
<div class="position-absolute" style="top: 0px; right: 0px; left: 0px; bottom: 0px; background: black; z-index: -1;"></div>
    <div class="container-fluid">

        <div class="container-fluid d-flex-inline" style="position:absolute;">
            <div class="container-fluid">
                <h1 class="container-fluid d-flex justify-content-center mt-5" id="welcome01">Welcome to</h1>
                <h1 class="container-fluid d-flex justify-content-center" id="welcome02">Showrunner!</h1>                    
            </div>
            <div class="d-flex justify-content-center">
                <a class="btn btn-light mt-2" href="/login" role="button" id="btnLogin">Login</a>
                <a class="btn btn-light mt-2 mx-2"  id="btnSignUp" href="/signup" role="button">Create an Account</a>
            </div>
            <div class="d-flex justify-content-center">
                <a class="btn btn-block btn-secondary mt-2" href="/about" role="button" id="btnAbout">About Showrunner</a>
            </div>
        </div>
        <div class="container-fluid justify-content-center titleLanding" id="background1">
        </div>
    </div>

</div>
<%- include('./partials/footer.ejs') %>