<%- include('./partials/header.ejs', {title: 'Login' }) %>
<%- include('./partials/navbar.ejs') %>

<div class="container">
<div class="row justify-content-center">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 mt-5 block">

    <form action="/login" method="POST" class="needs-validation" novalidate>
        <!-- To activate form validation, we need a javascript formula in index.js, or we need to create a script here. I created a script below. Will discuss with team. -->

        <!-- Username input -->
        <div class="form-outline mb-4">
        <label class="form-label" for="username">Username</label>
        <div class="input-group has-validation">
            <input type="text" name="username" id="username" class="form-control" required>
            <div class="invalid-feedback" style="color: rgb(255, 96, 96)">Username required</div>
        </div>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-2">
            <label class="form-label" for="password">Password</label>
        <div class="input-group has-validation">
            <input type="password" name="password" id="password" class="form-control" required/>
            <div class="invalid-feedback" style="color: rgb(255, 96, 96)">Password required</div>
        </div>
    </div>
        
        <% if (failedAttempt) { %>
            <p class="failed-login-attempt mb-4" style="color: rgb(255, 96, 96)">Please try again.</p>
        <% } %>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block">Sign in</button>
    </form>

    </div>
</div>
</div>

<!-- Validation script -->
<script>
    var forms = document.querySelectorAll(".needs-validation");
    var username = document.querySelector(".username")


    
    Array.prototype.slice.call(forms).forEach( function(form) {
        form.addEventListener("submit", function(event){
            if (!form.checkValidity()) 
            {
                event.preventDefault();
                event.stopPropagation();
            }

            form.classList.add("was-validated");
        });
    });
</script>

<%- include('./partials/footer.ejs') %>