body {
  background-color: #666666; /*This is how it appears on the mockup*/
  color: white;

}

.card {
  color:black
}

nav:has(*) {
  color: white;
  background-color:#1155CC 
}

.sidebar {
  background-color:black; 
  border:red solid 2px;
  
}

.sidebar div {
border: inherit
} 

.sidebar {
  margin-left: 20px;
} 

